/**
*
* Grid
*
**/

/**
 * Grid classes for medium view
 */
@include medium-only {
  @for $i from 1 through $mediumColCount {
    .l-g-md--#{$i} {
      @include rule--col(medium);
      width: ($mediumColWidth*$i) + ($mediumGutterWidth*($i + -1));
      @if $i == $mediumColCount { margin-right: 0; }
    }

    @if $i < $mediumColCount {
      .l-g-md--push-#{$i} {
        margin-left: ($mediumColWidth*$i) + ($mediumGutterWidth*$i);
      }
      .l-g-md--pull-#{$i} {
        margin-right: ($mediumColWidth*$i) + ($mediumGutterWidth*$i);
      }
    }
  }

  .l-g-md--full {
    @include rule--col(medium);
    margin-right: 0;
    width: 100%;
  }

  .l-g--third {
    @include rule--col(medium);
    width: $mediumColWidth;
  }

  .l-g--half,
  .l-g-md--half {
    @include rule--col(medium);
    width: 50% - $mediumGutterWidth/2;
  }

  .l-g-md--last { margin-right: 0; }
  .l-g-md--last + .l-g-md--half { clear: left; }

  .l-g--pull-half { margin-right: 50% + $mediumGutterWidth/2; }
}

/**
 * Grid classes for wide view
 */
@include wide {
  @for $i from 1 through $wideColCount {
    .g-wide--#{$i} {
      @include rule--col(wide);
      width: ($wideColWidth*$i) + ($wideGutterWidth*($i + -1));
      @if $i == $wideColCount { margin-right: 0; }
    }

    @if $i < $wideColCount {
      .g-wide--push-#{$i} {
        margin-left: ($wideColWidth*$i) + ($wideGutterWidth*$i);
      }
      .g-wide--pull-#{$i} {
        margin-right: ($wideColWidth*$i) + ($wideGutterWidth*$i);
      }
    }
  }

  .g-wide--last { margin-right: 0; }

  .g-wide--full {
    @include rule--col(wide);
    margin-right: 0;
    width: 100%;
  }

  .g--third {
    @include rule--col(wide);
    width: 30.8%;
  }

  .g--half,
  .g-wide--half {
    @include rule--col(wide);
    width: 50% - $wideGutterWidth/2;
  }

  .l-g--pull-half { margin-right: 50% + $wideGutterWidth/2; }
}

/**
 * Global 'last' class
 * Should be used with global grid classes, such as 'half' or 'third'
 * @example:
 * <div class="third"></div>
 * <div class="third"></div>
 * <div class="third last"></div>
*/
.l-g--last { margin-right: 0; }

/**
 * Global 'centered' class
 */
.l-g--centered {
  float: none; // reset float to none so we can center it
  margin-left: auto;
  margin-right: auto;
}

/**
 * Grid overlay
 * Shows users our grid system
 * Only visible when a class 'debug' is added to the body
 */
.grid-overlay {
  display: none;
  pointer-events: none;

  .debug & {
    @include container(true);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: block;

    [class*="g-"] {
      height: 100%;
      background-color: rgba(lighten(#000, 35%), .2);
    }

    @include medium-only {
      .g-wide--last {
        display: none;
      }
    }

    @include small-only {
      display: none;
    }
  }
}
