/**
*
* List
*
**/

.list-anchor {
  padding-left: 0;

  li {
    @include type--base;
    padding-top: 0;
    padding-left: 0;

    &::before {
      display: none
    }

  }

  a {
    @include bullet-type("", icon-bullet);
    line-height: 1; // fixes baseline grid alignment
    display: inline-block;
    padding-left: 16px;

    &::before {
      font-size: 4px;
    }
  }
}

/*==========  SMALL LIST  ==========*/

.list-small {

  li {
    @include medium {
      @include type--small;
      padding-top: 0;
    }
  }
}

.list-centered {
  text-align: center;
  padding-left: 0;
}

.list--reset {
  padding-left: 0;

  li {
    padding-left: 0;
  }

  &.list-links a::before,
  & li::before {
    display: none !important; // Fine to use !important when we are forcing an override
  }
}