/**
*
* Settings
*
**/

/**
 * Colors
 * Gray and brand colors for use across FYi Styles
 */
$grey-darker:							darken(#fff, 87%) !default; // #212121
$grey-dark:								darken(#fff, 80%) !default; // #333
$grey:										darken(#fff, 54%) !default; // #757575
$grey-light:							darken(#fff, 26%) !default; // #bdbdbd
$grey-lighter:						darken(#fff, 12%) !default; // #e0e0e0

$brand-blue-dark:      		map-get($blue-palette, 700) !default; // #00374f
$brand-blue:           		map-get($blue-palette, 500) !default; // #004f71
$brand-blue-light:      	map-get($blue-palette, 100) !default; // #ccdbe2
$brand-blue-lightest:   	map-get($blue-palette, 50) !default; // #e5edf0

$brand-orange-dark:				map-get($deep-orange-palette, 700) !default; // #e64a19
$brand-orange:						map-get($deep-orange-palette, 500) !default; // #ff5722
$brand-orange-light:			map-get($deep-orange-palette, 100) !default; // #ffccbc

$brand-success:						map-get($light-green-palette, 600)    !default; // #8bc34a
$brand-info:							map-get($cyan-palette, 600)           !default; // #03a9f4
$brand-warning:						map-get($light-orange-palette, 600)   !default; // #ff9800
$brand-danger:						map-get($red-palette, 600)            !default; // #e51c23

$body-bg:         				#fff !default;
$text-color:           					$grey-dark !default;
$link-color:           					$brand-info !default;

/**
 * Buttons
 */

$buttonFontWeight:				normal !default;

$buttonPrimaryColor:			#fff !default;
$buttonPrimaryBg:					$brand-blue !default;
$buttonPrimaryBorder:			$brand-blue !default;

$buttonSecondaryColor:			$brand-blue !default;
$buttonSecondaryBg:					#fff !default;
$buttonSecondaryBorder:			$brand-blue-light !default;

$buttonSuccessColor:			#fff !default;
$buttonSuccessBg:					$brand-success !default;
$buttonSuccessBorder:			$brand-success !default;

$buttonInfoColor:					#fff !default;
$buttonInfoBg:						$brand-info!default;
$buttonInfoBorder:				$brand-info!default;

$buttonWarningColor:			#fff !default;
$buttonWarningBg:					$brand-warning !default;
$buttonWarningBorder:			$brand-warning !default;

$buttonDangerColor:				#fff !default;
$buttonDangerBg:					$brand-danger !default;
$buttonDangerBorder:			$brand-danger !default;

$buttonLinkColor:					$brand-info!default;
$buttonLinkBg:						transparent !default;
$buttonLinkBorder:				transparent !default;

/**
 * Code element
 */
$codeColor:								$buttonDangerBg !default;
$codeBg:									lighten($buttonDangerBg, 48%) !default;


/**
 * Components
 */
$borderRadiusBase:				2px !default;

/**
 * Breakpoints
 */
$medium: 620px !default;
$wide: 800px !default;
$huge: 1600px !default;
$mediumContainer: 688px !default;
$wideContainer: 864px !default;

/**
 * Grid
 */
$mediumColCount: 3 !default;
$mediumColWidth: 30.3% !default;
$mediumGutterWidth: 4.5% !default;
$wideColCount: 4 !default;
$wideColWidth: 22.2% !default;
$wideGutterWidth: 3.7% !default;

/**
 * Font
 */
$fontPath: '../fonts/';

$fontDefault: 'Helvetica Neue', sans-serif !default;
$fontHighlight: 'Helvetica Neue', sans-serif !default;
$fontIcon: 'icons' !default;

$fontSmall: 0.618em !default;
$fontBase: 1em  !default;
$fontMedium: 1.618em !default;
$fontLarge: 2.618em !default;
$fontXLarge: 4.236em !default;
$fontHuge: 6.854em !default;

// Defining baseline line height
$lineHeight: 26px !default;
$lineHeightHalf: ($lineHeight / 2) !default;
$lineHeightThird: ($lineHeight / 3) !default;

/**
 * Animation Easing
 */
$animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955) !default;

/**
 * Sidebar
 */
$sidebarWidth: 280px !default;