/**
*
* Settings
*
**/

/**
 * Colors
 * Gray and brand colors for use across FYi Styles
 */
$greyDarkerColor:					darken(#fff, 87%) !default;
$greyDarkColor:						darken(#fff, 80%) !default;
$greyColor:								darken(#fff, 54%) !default;
$greyLightColor:					darken(#fff, 26%) !default;
$greyLighterColor:				darken(#fff, 12%) !default;

$brandBlueDarkColor:      map-get($blue, 700) !default; // #00374f
$brandBlueColor:          map-get($blue, 500) !default; // #004f71
$brandBlueLightColor:     map-get($blue, 100) !default; // #ccdbe2
$brandBlueLightestColor:  map-get($blue, 50) !default; // #ccdbe2

$brandOrangeDarkColor:		map-get($deep-orange, 700) !default; // #e64a19
$brandOrangeColor:				map-get($deep-orange, 500) !default; // #ff5722
$brandOrangeLightColor:		map-get($deep-orange, 100) !default; // #ffccbc

$brandSuccessColor:				map-get($light-green, 600)		!default; // #8bc34a
$brandInfoColor:					map-get($cyan, 600)					!default; // #03a9f4
$brandWarningColor:				map-get($light-orange, 600)	!default; // #ff9800
$brandDangerColor:				map-get($red, 600)						!default; // #e51c23

$bodyBgColor:         		#fff !default;
$textColor:           		$greyDarkColor !default;
$linkColor:           		$brandInfoColor !default;

/**
 * Buttons
 */

$buttonFontWeight:				normal !default;

$buttonPrimaryColor:			#fff !default;
$buttonPrimaryBg:					$brandBlueColor !default;
$buttonPrimaryBorder:			$brandBlueColor !default;

$buttonSecondaryColor:	  $brandBlueColor !default;
$buttonSecondaryBg:				#fff !default;
$buttonSecondaryBorder:		$brandBlueLightColor !default;

$buttonSuccessColor:			#fff !default;
$buttonSuccessBg:					$brandSuccessColor !default;
$buttonSuccessBorder:			$brandSuccessColor !default;

$buttonInfoColor:					#fff !default;
$buttonInfoBg:						$brandInfoColor !default;
$buttonInfoBorder:				$brandInfoColor !default;

$buttonWarningColor:			#fff !default;
$buttonWarningBg:					$brandWarningColor !default;
$buttonWarningBorder:			$brandWarningColor !default;

$buttonDangerColor:				#fff !default;
$buttonDangerBg:					$brandDangerColor !default;
$buttonDangerBorder:			$brandDangerColor !default;

$buttonLinkColor:					$brandInfoColor !default;
$buttonLinkBg:						transparent !default;
$buttonLinkBorder:				transparent !default;

/**
 * Code element
 */
$codeColor:								$buttonDangerBg !default;
$codeBg:									lighten($buttonDangerBg, 48%) !default;


/**
 * Components
 */
$borderRadiusBase:				2px !default;

/**
 * Media queries breakpoints
 * Define the breakpoints at which your layout will change, adapting to different screen sizes
 */
$medium: 620px !default;
$wide: 800px !default;
$huge: 1600px !default;
$mediumContainer: 688px !default;
$wideContainer: 864px !default;

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screenExtraSmallMax:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

/**
 * Grid
 */
// Number of columns in the grid
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             ((720px + $grid-gutter-width)) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            ((940px + $grid-gutter-width)) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      ((1140px + $grid-gutter-width)) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;

/**
 * Font
 */
$fontPath: '../fonts/';

$fontDefault: 'Helvetica Neue', sans-serif !default;
$fontHighlight: 'Helvetica Neue', sans-serif !default;
$fontIcon: 'icons' !default;

$fontSmall: 0.618em !default;
$fontBase: 1em  !default;
$fontMedium: 1.618em !default;
$fontLarge: 2.618em !default;
$fontXLarge: 4.236em !default;
$fontHuge: 6.854em !default;

// Defining baseline line height
$lineHeight: 26px !default;
$lineHeightHalf: ($lineHeight / 2) !default;
$lineHeightThird: ($lineHeight / 3) !default;

/**
 * Animation Easing
 */
$animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955) !default;

/**
 * Sidebar
 */
$sidebarWidth: 280px !default;