/**
*
* Settings
*
**/

/**
 * Colors
 * Gray and brand colors for use across FYi Styles
 */
$greyDarkerColor:					darken(#fff, 87%) !default;
$greyDarkColor:						darken(#fff, 80%) !default;
$greyColor:								darken(#fff, 54%) !default;
$greyLightColor:					darken(#fff, 26%) !default;
$greyLighterColor:				darken(#fff, 12%) !default;

$brandBlueDarkColor:			map-get($blue, 700) !default; // #00374f
$brandBlueColor:					map-get($blue, 500) !default; // #004f71
$brandBlueLightColor:			map-get($blue, 100) !default; // #ccdbe2

$brandOrangeDarkColor:		map-get($deep-orange, 700) !default; // #e64a19
$brandOrangeColor:				map-get($deep-orange, 500) !default; // #ff5722
$brandOrangeLightColor:		map-get($deep-orange, 100) !default; // #ffccbc

$brandSuccessColor:				map-get($light-green, 600)		!default; // #8bc34a
$brandInfoColor:					map-get($cyan, 600)					!default; // #03a9f4
$brandWarningColor:				map-get($light-orange, 600)	!default; // #ff9800
$brandDangerColor:				map-get($red, 600)						!default; // #e51c23

$bodyBgColor:         		#fff !default;
$textColor:           		$greyDarkColor !default;
$linkColor:           		$brandInfoColor !default;

/**
 * Buttons
 */

$buttonFontWeight:				normal !default;

$buttonDefaultColor:			$brandBlueColor !default;
$buttonDefaultBg:					#fff !default;
$buttonDefaultBorder:			$brandBlueLightColor !default;

$buttonPrimaryColor:			#fff !default;
$buttonPrimaryBg:					$brandBlueColor !default;
$buttonPrimaryBorder:			$brandBlueColor !default;

$buttonSuccessColor:			#fff !default;
$buttonSuccessBg:					$brandSuccessColor !default;
$buttonSuccessBorder:			$brandSuccessColor !default;

$buttonInfoColor:					#fff !default;
$buttonInfoBg:						$brandInfoColor !default;
$buttonInfoBorder:				$brandInfoColor !default;

$buttonWarningColor:			#fff !default;
$buttonWarningBg:					$brandWarningColor !default;
$buttonWarningBorder:			$brandWarningColor !default;

$buttonDangerColor:				#fff !default;
$buttonDangerBg:					$brandDangerColor !default;
$buttonDangerBorder:			$brandDangerColor !default;

$buttonLinkColor:					$brandInfoColor !default;
$buttonLinkBg:						transparent !default;
$buttonLinkBorder:				transparent !default;

/**
 * Code element
 */
$codeColor:								$buttonDangerBg !default;
$codeBg:									lighten($buttonDangerBg, 48%) !default;


/**
 * Components
 */
$borderRadiusBase:				2px !default;

/**
 * Breakpoints
 */
$medium: 620px !default;
$wide: 800px !default;
$huge: 1600px !default;
$mediumContainer: 688px !default;
$wideContainer: 864px !default;

/**
 * Grid
 */
$mediumColCount: 3 !default;
$mediumColWidth: 30.3% !default;
$mediumGutterWidth: 4.5% !default;
$wideColCount: 4 !default;
$wideColWidth: 22.2% !default;
$wideGutterWidth: 3.7% !default;

/**
 * Font
 */
$fontPath: '../fonts/';

$fontDefault: 'Helvetica Neue', sans-serif !default;
$fontHighlight: 'Helvetica Neue', sans-serif !default;
$fontIcon: 'icons' !default;

$fontSmall: 0.618em !default;
$fontBase: 1em  !default;
$fontMedium: 1.618em !default;
$fontLarge: 2.618em !default;
$fontXLarge: 4.236em !default;
$fontHuge: 6.854em !default;

// Defining baseline line height
$lineHeight: 26px !default;

/**
 * Animation Easing
 */
$animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955) !default;

/**
 * Sidebar
 */
$sidebarWidth: 280px !default;