/**
 * Logo
 */

.logo {
  padding: 0;
  list-style: none;
  font-size: $font-size-base;
}

.logo--preview {

  @extend .logo;
}

.logo--misuse {
  height: 90px;

  @extend .logo;
}

.logo__number {
  border: 1px solid $grey-light;
  color: $brand-blue;
  height: 40px;
  line-height: 28px;
  margin: 0px 10px 10px 0px;
  padding: 5px;
  width: 40px;
  text-align: center;
  float: left;

  border-radius: 2px;
}

.logo__title {
  color: $brand-blue;
  font-weight: bold;
}

.logo__description {
  position: relative;
}