/**
 * Logo
 */

.logo {
  padding: 0;
  list-style: none;
  font-size: $font-size-base;
}

.logo--preview {
  @include clearfix();

  @extend .logo;
}

.logo--misuse {
  height: 90px;

  @extend .logo;
}

.logo__number {
  float: left;
  height: 100%;
  padding: 5px;
  width: 40px;
  margin: 0px 10px 10px 0px;
  border: 1px solid $grey-light;
  border-radius: 2px;
  line-height: 28px;
  text-align: center;
  color: $brand-blue;
}

.logo__title {
  color: $brand-blue;
  font-weight: bold;
  line-height: 16px;
}

.logo__description {
  position: relative;
}

.logo__icon {
  float: right;
  font-size: $fontMedium;

  &.is-allowed {
    color: $brand-success;
  }

  &.is-not-allowed {
    color: $brand-danger;
  }
}