<div class="nav--side__wrapper">
  <span class="nav--side__logo"><img src="//material-design.storage.googleapis.com/images/Google_Logo.svg" alt="Google logo"></span>

  <nav>
    <ul class="nav--side__list">
      <li class="nav--side__item" ng-repeat="item in menu">
        <a href ng-click="select(item)">{{item.title}}</a>
        <ul class="nav--side__submenu animation--slide-down" ng-if="item.submenu && item.opened">
          <li ng-repeat="subitem in item.submenu">
            <a href ng-click="goto(subitem)">{{subitem.title}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="nav--side__legal">
    <p>&copy; 2014 <a href="http://fyidoctors.com">FYidoctors</a></p>
  </div>
</div>