/**
*
* Button
*
*/

.button {
  display: inline-block;
  padding: (($lineHeight / 2) - 1) 32px;
  margin-bottom: $lineHeight / 2;
  margin-top: $lineHeight / 2;
  min-height: $lineHeight;

  text-align: center;

  font-family: $fontDefault;
  font-weight: normal;
  text-decoration: none;

  cursor: pointer;
  outline: 0;

  border: 1px solid transparent;
  background-image: none;
  white-space: nowrap;

  border-radius: $borderRadiusBase;
  -webkit-border-radius: $borderRadiusBase;
  -moz-border-radius: $borderRadiusBase;

  transition: none;

  &:hover,
  &:focus {
    background: transparent;
    color: #ffffff;
    border: 1px solid transparent;
    text-decoration: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    opacity: 0.65;
  }

}

// Alternate buttons

/**
 * Creates a different style for buttons as well as :hover, :focus, :active, .active, disabled options.
 * @param {string} $textColor - color name
 * @param {string} $background - background name
 * @param {string} $border - border name
 */
@mixin style-button($textColor, $background, $border) {
  color: $textColor;
  background: $background;
  border-color: $border;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $textColor;
    background: darken($background, 5%);
    border-color: darken($border, 8%);
  }
}

.button--default {
  @extend .button;
  @include style-button($buttonDefaultColor, $buttonDefaultBg, $buttonDefaultBorder);
}

.button--primary {
  @extend .button;
  @include style-button($buttonPrimaryColor, $buttonPrimaryBg, $buttonPrimaryBorder);
}

.button--success {
  @extend .button;
  @include style-button($buttonSuccessColor, $buttonSuccessBg, $buttonSuccessBorder);
}

.button--info {
  @extend .button;
  @include style-button($buttonInfoColor, $buttonInfoBg, $buttonInfoBorder);
}

.button--warning {
  @extend .button;
  @include style-button($buttonWarningColor, $buttonWarningBg, $buttonWarningBorder);
}

.button--danger {
  @extend .button;
  @include style-button($buttonDangerColor, $buttonDangerBg, $buttonDangerBorder);
}

.button--link {
  @extend .button;
  @include style-button($buttonLinkColor, $buttonLinkBg, $buttonLinkBorder);
  &:hover {
    background: $buttonLinkBg;
    color: darken($buttonLinkColor, 10%);
    text-decoration: underline;
  }
}