/**
*
* Colot Palette
*
**/

.color-palette {
	margin-bottom: 52px;
	padding-bottom: 77px;
	
	.color {
		padding: 15px;
		list-style-type: none;

		.hex {
			display: block;
			float: right;
		}

		.light {
			color: #fff;
		}

		.dark {
			color: #000;
		}

		&.color--main {
			.name {
				display: block;
				margin-bottom: 60px;
			}
		}
	}
}